header {
    margin-top: 70px;    
}

body {
    background: rgb(185, 192, 255);
    margin-left: 100px;
    margin-right: 100px;    
}

h1 {
    color: rgb(0, 0, 100);
    font-family: fantasy;
}

h2 {
    color: rgb(0, 0, 160);
    font-family: fantasy;
}

p {
    font-size: 18px;
}

img {
    margin-bottom: 20px;
    width: 300px;
}

.icon {
    margin-bottom: 0px;
    width: 20px;
}

footer {
    margin-top: 50px;
    margin-bottom: 20px;
}